// Body
$body-bg: #f8fafc;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$red-primary-color: #E4002B;
$pink-sub-color: #FFE2E3;

$black-primary-color: #0A112D;
$brown-primary-color: #6F2800;
$brown-sub-color: #843000;
$orange-primary-color: #FF5C00;
$orange-sub-color: #FF8947;
$white-primary-color: #FFFFFF;
