// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';
@import "splash_screen";
// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    background-image: url('assets/BG.png');
    display: flex;
    flex-direction: column;
    align-items: center;

    .main-container {
        width: 75rem;
    }
}


