// Variables
@import 'variables';

// Mixins
@import 'mixins';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Partials
@import 'partials/back-to-top.scss';

// Components
@import 'components/modal';
@import 'components/toast';
@import 'components/cart-item';
@import 'components/payment-option';

@import 'header.scss';
@import 'footer.scss';
@import './pages/home/booking';
@import './pages/home/banner';
@import './pages/home/products';

// Menu
@import './pages/menu/combo';
@import './pages/menu/pizza';
@import './pages/menu/dessert';
@import './pages/menu/drink';
@import './pages/menu/side';
@import './pages/menu/sub-nav';
@import './pages/menu/product-detail';

// Auth
@import './auth/auth';

// Checkout
@import './pages/checkout/index';

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}
