// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import 'header.scss';
@import 'footer.scss';
@import 'booking.scss';
@import './home/banner.scss';
@import './home/products.scss';

// Menu
@import './menu/combo.scss';
@import './menu/pizza.scss';
@import './menu/dessert.scss';
@import './menu/drink.scss';
@import './menu/side.scss';
@import './menu/sub-nav.scss';

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $body-bg;
}

.background-linear {
    width: 100vw;
    background: linear-gradient(160deg, $brown-primary-color 50%, $orange-primary-color 100%) no-repeat;
    background-size: cover;
}
