footer {
    width: 100vw;
    color: $color-1-primary;
    border-top: 2px solid $color-1-primary;
    border-bottom: 2px solid $color-1-primary;
}

.footer-content {
    width: 50%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 150px;
    mix-blend-mode: multiply;
    display: inline-block;
    background-color: $color-1-primary;
    border-radius: 25px;
}

.footer-content-right {
    width: 100%;
}

.footer-content-right td {
    font-size: 20px;
    line-height: 200%;
}

.footer-logo {
    padding: 3% 5% 5%;
}

.footer-content {
    padding: 2% 15% 5% 5%;
}

.ft-menu {
    .socialmedia {
        width: 25px;
        height: 25px;
    }

    #youtube {
        width: 28px;
        height: 21px;
    }
}

.ft-list a {
    text-decoration: none;
    font-weight: 600;
    color: $color-1-primary;
}

.footer-bottom ul {
    display: flex;
    width: 100%;
}

.footer-bottom li {
    list-style-type: none;
    font-size: 1.6rem;
}

.footer-bottom-main {
    padding-right: 1%;
    font-weight: 700;
}

.footer-bottom-content {
    padding-right: 7%;
}

.footer-bottom-right {
    padding-left: 32%;
}

.footer-bottom li {
    padding-bottom: 1%;
}
