.myheader {
    padding: 18px 50px;
    font-size: 1.6rem !important;
    width: 100vw;

    .navbar-brand {
        margin-right: 32px;
    }

    .nav-container {
        justify-content: space-between;
        align-items: center;
    }

    a {
        color: black;
        text-decoration: none;
        display: inline-block;
        font-weight: bold;
    }

    .icons-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
