.background {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    height: 300px;
    background-size: cover;
    width: 100vw;
    flex-shrink: 0;
    background-image: url('/assets/banner-new.png');
    mix-blend-mode: multiply;
}