.cart-right {
    border-left: 2px solid;
    border-color: #4E8B00;
}

h1 {
    color: #000;
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.summary .row
{
    color: #000;
    font-family: Quicksand;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.summary hr{
    color: #4E8B00;
    width: 340px;
    height: 2px;
}

.summary .total
{
    font-size: 30px;
}