.cart-right {
    padding-left: 30px;
    height: 900px;
}

.cart-right .summary{
    border-left: 2px solid;
    border-color: #4E8B00;
}

h1 {
    color: #000;
    font-family: Quicksand;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.summary .row
{
    color: #000;
    font-family: Quicksand;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.summary hr{
    color: #4E8B00;
    width: 340px;
    height: 2px;
}

.summary .total
{
    font-size: 28px;
    font-weight: 600;
}