.cart-left
{
    height: 900px;
}
.items {
    margin-top: 30px;
    padding: 20px 10px;
    width: 500px;
    height: 170px;
    border-radius: 10px;
    border: 2px solid #FF5C00;
}

.product-img {
    position: relative;
    width: 150px;
    height: 120px;
    border-radius: 7px;
    background-color: #DC4D01;
}

.product {
    padding-left: 12px;
    position: relative;
    font-family: Quicksand;
    text-align: left;
}

.product .name {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    color: #883527;
}

.product .price {
    padding-top: 3px;
    font-size: 15px;
    color: #9F3F06;
}

.btn-close {
    color: black;
    border-radius: 5px;
    border: 3px solid #A20000;
    background: #FFF;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-left: 30px;
}
