.combo-container {
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.combo-item {
    padding: 40px;
    border-radius: 15px;
    border: 2px solid $color-2-primary;
    box-shadow: 2px 2px 3px 2px rgba($color-2-primary, $alpha: .8);

    .col-left {
        position: relative;
    }

    .col-left h1 {
        color: $black-primary-color;
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: left;
    }

    .combo-button {
        padding-left: 64px;
        padding-top: 80px;
    }

    .combo-button a {
        text-decoration: none;
        display: inline-block;
        color: #FFF;
        font-size: 23px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 360px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 5px;
        background: $color-2-primary;
        padding: 15px 58px;
        margin: 10px 0;
    }

    .col-right {
        position: relative;
        text-align: right;
    }

    .col-right img {
        padding: 10px;
        background-color: #FFF;
        border-radius: 9px;
        border: 3px solid $color-2-primary;
    }

    .col-right p {
        color: $black-primary-color;
        text-align: right;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 40px;
    }
}
