.chicken-img-detail{
    width: 100%;
    height: auto;
    // margin-top: 20%;
    margin-right: -20px;
}

.chicken-img{
    border-radius: 4px;
    background-color: white;
    background-image: url('/assets/menu/side/Gà Viên Phô Mai đút lò.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.chicken-name{
    color: white;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}
.chickens-container{
    border-radius: 12px;
    border: 1.5px solid #FF8947;
    box-shadow: 5px 5px #6f2901, 7px 7px 5px #FF8947 ;
     
}

.menusides-title{
    font-size: xx-large;
    color: white;
    text-align: center;
    font-weight: bold;
}