.sub-nav {
    &-container {
        background-color: $white-primary-color;
        //margin-top: 20px;
        padding: 20px;
        border: 2px solid $color-4-primary;
        border-radius: 15px;
        position: relative;
        margin: 20px auto 0;
        width: 95%;
    }

    &-list {
        list-style: none;
        padding: unset;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 75px 0;

        li {
            cursor: pointer;

            a {
                text-decoration: none;
                color: $color-2-primary;
                font-size: 2rem;
                font-weight: 700;

                &:hover {
                    color: $color-3-primary;
                }

                &.active {
                    color: $color-3-primary;
                    text-decoration: $color-3-primary underline;
                }
            }

        }
    }

    &-option {
        margin: 15px 40px 0;
        border-top: 2px solid $color-2-primary;
        padding-top: 20px;

        &.none {
            display: none !important;
        }

        ul {
            border-radius: 33px;
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: space-between;
            margin: unset;
            padding: 15px 0;

            li {
                a {
                    display: inline-block;
                    font-size: 1.6rem;
                    font-weight: 700;
                    padding: 5px 50px;
                    border: 2px solid $color-2-primary;
                    border-radius: 39px;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                    text-decoration: none;
                    color: $black-primary-color;

                    &:hover {
                        background-color: $color-3-primary;
                        color: $white-primary-color !important;
                    }

                    &:active {
                        transform: scale(0.9) !important;
                    }

                    &.active {
                        text-decoration: none;
                        background-color: $color-3-primary;
                        color: $white-primary-color !important;
                    }
                }
            }
        }
    }
}
